*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 95px;
}
.box-slider{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 95px);
    position: relative;
    z-index: 10;
    transition:left 1200ms ;
}
body{
    background: linear-gradient(to right, #5900ff, #2b06ff, #600bff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.page-box-slider{ 
    width: 100%;
    overflow: hidden;
}
.box-img1{
    padding: 0 500px;
   
}
.box-img2{
    padding: 0 600px;
}
.box-img3{
    padding: 0 500px;
}
.box-slider-1{
    left: 0%;
}
.box-slider-2{
    left: -100%;
}
.box-slider-3{
    left: -200%;
}


.box-icon-chevron-left, .box-icon-chevron-right{
    color: rgb(0, 0, 0);
    font-size: 3.5em;
    position: relative;
    top: calc((-100vh)+400px);
   
    z-index: 20;
    padding: 0 50px;
}
.box-icon-chevron-right{
    display: flex;
    justify-content:flex-end ;
   position: relative;
    margin-top: -100px;
    top: calc(100vh+500px);
}
.box-icon-chevron-left{
    margin-top: -400px;
    position: relative;
}
.box-icon-chevron-left, .box-icon-chevron-right{
    cursor: pointer;
}
.box-signal{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
}
.signal{
    width: 26px;
    height: 26px;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    z-index: 20;
    
}
.signal-select{
background-color: rgb(182, 182, 185);
}
.signal1{
    margin-top: 300px;
    margin-left: 1300px;
    position: absolute;
}
.signal2{
    margin-top: 300px;
    margin-left: 1400px;
    position: absolute;
}
.signal3{
    margin-top: 300px;
    margin-left: 1500px;
    position: absolute;
}


@media screen and (max-width:768px){
    .page-box-slider{ 
        width: 100%;
        overflow: hidden;
    }
    .box-img1{
        margin-bottom: -200px;
        padding: 0 100px;
    }
    .box-img2{
        padding: 0 100px;
    }
    .box-img3{
        padding: 0 100px;
    }
    .signal1{
        margin-left: 1400px;
        
    }
    .signal2{
        margin-left: 20px;
        
    }
    .signal3{
        margin-left: 20px;
        
       
    }
   
}
